.shift-options {
  gap: 30px;

  label {
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
  }
}

#shiftA:checked + label, #shiftB:checked + label, #shiftC:checked + label  {
  background-color: rgb(120, 57, 205);
  transition: 0.2s all linear;
  color: white;
}

#shiftA, #shiftB, #shiftC  {
  display: none;
}

#BN:checked  + label, #DN:checked  + label, #Base:checked  + label {
  background-color: rgb(120, 57, 205);
  transition: 0.2s all linear;
  color: white;
}

#BN, #DN, #Base {
  display: none;
}

.custom-select {
  margin-top: 10px;
  width: 300px;
  position: relative;
}

.custom-select select {
  width: 100%;
  padding: 12px 16px;
  font-size: 15px;
  color: #333;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 1px solid lightgray;
}

/* seta */
.custom-select::after {
  content: "▾";
  font-size: 18px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
}

/* estilo das opções no dropdown */
.custom-select select option {
  padding: 12px;
  font-size: 15px;
  background: #fff;
  cursor: pointer;
}

/* remove highlight azul do select */
.custom-select select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #b3d5ff;
}

.formMain {
  background-color: rgb(241, 241, 241);
}

.form-model {
  display: flex;
  justify-content: center;
  width: 100%;
}

#registerFormModel, #editFormModel {
  width:95%;
}

.input-tipo {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  select {
    height: 45px;
    font-size: 20px;
    padding-left: 10px;
    background-color: #f4f4f4;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
  }
}

.list-testes {
  margin-top: 20px;
}

.spec-item {
  margin-top: 5px;
  display: flex;
  gap: 10px;

  select {
    font-size: 20px;
    padding-left: 10px;
    background-color: #f4f4f4;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
  }
}

.add-btn {
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: rgb(120, 57, 205);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.remove-btn {
  width: 150px;
  background-color: transparent;
  border: none;
  font-size: 34px;
}

.form-employee {
  width: 95%;
}
