.loadContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.421);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;    
  border-top: 5px solid rgb(120, 57, 205);    
  border-radius: 50%;               
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}