.popUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.571);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.popUp {
  display: flex;
  position: relative;
  align-items: center;
  color: white;
  font-weight: bolder;
  background-color: rgb(120, 57, 205);
  width: 80%;
  height: 20%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.closed {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  color: white;
}