* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
} 

#root {
  background-color: rgb(249, 250, 252);
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
}
